img {
  opacity: var(--dm-image-opacity, 0.25) !important;
  transition: opacity 0.8s !important;
}

img:hover {
  opacity: var(--dm-image-hover-opacity, 0.5) !important;
}

/* 顶部 */
html:not([data-dm-off]) .AppHeader>div>*:nth-child(1),
html:not([data-dm-off]) .AppHeader>div>*:nth-child(3),
html:not([data-dm-off]) .AppHeader>div div:has(>nav)>div,
html:not([data-dm-off]) .AppHeader>div nav a:not([href="https://www.zhihu.com/"]):not([href="https://www.zhihu.com/hot"])
{
  display: none !important;
}

/* 头部 */
html:not([data-dm-off]) .WriteArea,
html:not([data-dm-off]) .Pc-Business-Card-PcTopFeedBanner {
  display: none !important;
}

/* 右侧 */
html:not([data-dm-off]) [data-za-detail-view-path-module="RightSideBar"] {
  display: none !important;
}

/* 主栏 */
html:not([data-dm-off]) .Topstory-container {
  width: auto !important;
}

html:not([data-dm-off]) .Topstory-mainColumn {
  width: 100% !important;
}

/* 广告 */
html:not([data-dm-off]) .TopstoryItem--advertCard {
  display: none !important;
}

/* 输入框 */
html:not([data-dm-off]) .Comments-container > div > div:has(input) {
  display: none !important;
}

html:not([data-dm-off]) .ContentItem-title {
  font-size: 16px !important;
  opacity: 0.75 !important;
}

html:not([data-dm-off]) .ContentItem-title:hover {
  opacity: 1 !important;
}

/* 回答-缩略图 */
html:not([data-dm-off]) .RichContent-cover {
  display: none !important;
}

html:not([data-dm-off]) .RichContent div:has(> video),
html:not([data-dm-off]) .RichContent-inner div:has(> video),
html:not([data-dm-off]) .RichContent div:has(> img),
html:not([data-dm-off]) .RichContent-inner div:has(> img) {
  width: var(--dm-shrink-width, 30%) !important;
  transition: width 0.8s !important;
}

html:not([data-dm-no-hover]):not([data-dm-off]) .RichContent div:has(> video):hover,
html:not([data-dm-no-hover]):not([data-dm-off]) .RichContent-inner div:has(> video):hover,
html:not([data-dm-no-hover]):not([data-dm-off]) .RichContent div:has(> img):hover,
html:not([data-dm-no-hover]):not([data-dm-off]) .RichContent-inner div:has(> img):hover {
  width: 100% !important;
}

/* 回答-用户信息 */
html:not([data-dm-off]) .ContentItem-meta {
  display: none !important;
}

/* 回答-动作 */
html:not([data-dm-off]) .ContentItem-actions > * {
  display: none !important;
}

/* 回答-评论列表展开 */
html:not([data-dm-off]) .ContentItem-actions > *:nth-child(2) {
  display: block !important;
  margin: 0 !important;
}

/* 评论-弹窗 */
html:not([data-dm-off]) .Modal-content > div > div:has(input) {
  display: none !important;
}

/* 详情页-广告 */
html:not([data-dm-off]) .Pc-word-new {
  display: none !important;
}

/* 详情页-侧栏 */
html:not([data-dm-off]) .QuestionHeader-side {
  display: none !important;
}

/* 详情页-回答 */
html:not([data-dm-off]) .RichContent div:has(> .Reward) {
  display: none !important;
}

/* 热榜 */
html:not([data-dm-off]) .HotList-list .HotItem-img img {
  display: none !important;
}

html:not([data-dm-off]) .HotList-list .HotItem-metrics {
  display: none !important;
}

html:not([data-dm-off]) .ListShortcut > div:has(+ .HotList) {
  display: none !important;
}
