img {
  opacity: var(--dm-image-opacity, 0.25) !important;
  transition: opacity 0.8s !important;
}

img:hover {
  opacity: var(--dm-image-hover-opacity, 0.5) !important;
}

html:not([data-dm-off]) .header-container header > a,
html:not([data-dm-off]) .header-container header > .right,
html:not([data-dm-off]) .main-container .side-bar,
html:not([data-dm-off]) .with-side-bar.main-content .channel-container {
  display: none !important;
}

html:not([data-dm-off]) .cover.ld::before,
html:not([data-dm-off]) .cover.ld::after,
html:not([data-dm-off]) .comment-inner-container .img-box::before,
html:not([data-dm-off]) .comment-inner-container .img-box::after {
  display: none !important;
}

html:not([data-dm-off]) .with-side-bar.main-content {
  padding-left: unset !important;
}

.media-container .swiper-wrapper {
  opacity: var(--dm-image-opacity, 0.25) !important;
  transition: opacity 0.8s !important;
}

.media-container .swiper-wrapper:hover {
  opacity: var(--dm-image-hover-opacity, 0.75) !important;
}
