img {
  opacity: var(--dm-image-opacity, 0.25) !important;
  transition: opacity 0.8s !important;
}

img:hover {
  opacity: var(--dm-image-hover-opacity, 0.5) !important;
}

html:not([data-dm-off]) #Top,
html:not([data-dm-off]) #Rightbar,
html:not([data-dm-off]) #Bottom,
html:not([data-dm-off]) #SecondaryTabs,
html:not([data-dm-off]) #Main > .box:last-child {
  display: none !important;
}

html:not([data-dm-off]) #Main {
  margin: 0 20px !important;
}

html:not([data-dm-off]) body,
html:not([data-dm-off]) .content {
  min-width: unset !important;
  max-width: unset !important;
}

html:not([data-dm-off]) .header > .fr,
html:not([data-dm-off]) .header > .fr ~ h1 ~ * {
  display: none !important;
}

html:not([data-dm-off]) div:has(> .adsbygoogle) {
  display: none !important;
}
