img {
  opacity: var(--dm-image-opacity, 0.25) !important;
  transition: opacity 0.8s !important;
}

img:hover {
  opacity: var(--dm-image-hover-opacity, 0.5) !important;
}

html:not([data-dm-off]) .container > .view {
  margin-top: unset !important;
}

html:not([data-dm-off]) .top-banners-container,
html:not([data-dm-off]) .main-header,
html:not([data-dm-off]) .index-aside,
html:not([data-dm-off]) .index-nav,
html:not([data-dm-off]) .view .view-nav,
html:not([data-dm-off]) .global-component-box,
html:not([data-dm-off]) .timeline-entry-list .item:has(.advertisement),
html:not([data-dm-off]) .timeline-entry-list .jj-recommend-users,
html:not([data-dm-off]) .timeline-entry-list .entry-footer {
  display: none !important;
}

html:not([data-dm-off]) .timeline-entry-list .title-row {
  font-size: 16px !important;
  opacity: 0.75 !important;
}

html:not([data-dm-off]) .timeline-entry-list {
  margin: unset !important;
  width: unset !important;
}

html:not([data-dm-off]) .header-with-banner {
  top: unset !important;
}

html:not([data-dm-off]) #sidebar-container,
html:not([data-dm-off]) .article-suspended-panel,
html:not([data-dm-off]) .author-info-block,
html:not([data-dm-off]) .author-info-block + img,
html:not([data-dm-off]) .article-end,
html:not([data-dm-off]) .article-end + .column-container,
html:not([data-dm-off]) .recommended-area,
html:not([data-dm-off]) .comment-form.comment-editor,
html:not([data-dm-off]) .bottom-login-guide {
  display: none !important;
}

html:not([data-dm-off]) .main-area.article-area {
  width: unset !important;
}

html:not([data-dm-off]) .article-title {
  font-size: 18px !important;
  opacity: 0.75 !important;
}

html:not([data-dm-off]) .article-viewer > p:has(> video),
html:not([data-dm-off]) .article-viewer > p:has(> img) {
  width: var(--dm-shrink-width, 30%) !important;
  transition: width 0.8s !important;
}

html:not([data-dm-no-hover]):not([data-dm-off]) .article-viewer > p:has(> video):hover,
html:not([data-dm-no-hover]):not([data-dm-off]) .article-viewer > p:has(> img):hover {
  width: 100% !important;
}
